*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(224, 214, 195);
    font-family: "Poppins", sans-serif;
    text-align: center;
}
.navbar{
    display: flex;justify-content: space-between;
    align-items: center;
    background-color: darkgray;
    padding: 10px;
    border-radius: 5px;
    z-index: 10;

}
.logo-img{
    width: 40px;
    height: 40px;
    background-color:aliceblue;
    border-radius: 50%
}
.logo{
    font-size: bolder;
    color:red;
}
.nav-links {
    gap: 20px;
    display: flex;
}
.nav-links a{
    text-decoration: none;
    color:red;
    transition: color 0.3s;
}
.nav-links a:hover{
    color:aqua;
}
.heading{
    text-align: center;
    background-color: rgb(192, 184, 184);
    padding: 10px;
}
.container{
    background-color: white;
    padding: 3px;
    border-radius: 15px;
    box-shadow: 0 10px rgba(red, green, blue, alpha);
    width: 300px;
    text-align: center;
    margin: auto;
}
input{
    width: 80%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #7e5d5d;
}
.button{
    background-color: rgb(126, 15, 15);
    color: turquoise;
    border: none;
    padding: 15px;
    width: 50%;
    cursor: pointer;
    border-radius: 10px;
}
button:hover{
    background-color: #7e5d5d;
}
.book-now{
    border-radius: 5px;
    padding: 4px;
    background-color: wheat;
    cursor: pointer;
    transition: color 0.4s;
}
.book-now:hover{
    color: antiquewhite;
}
.logo-img img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.search-box{
    display: flex;
    align-items: center;
    background-color: aliceblue;
    border-radius: 50px;
    border:1px solid #333;
    padding:0px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 2px 6px rgba(17, 16, 16, 0.1);
}
.search-icon{
    font-size: 15px;
    margin-right: 8px;
    color: black;
}
.search-box input{
    flex: 1;
    font-size: 16px;
    background-color: transparent;
    outline: none;
    border:none;
}
.search-by{
    border:none;
    background-color: transparent;
    font-size: 14px;
    color:#333;
    margin-left:10px;
    cursor:pointer;
    outline: none;
}
.rentals{
    text-align: center;
    padding: 5px;
}
.rentals h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.rentals-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 15px;
    justify-items: center;
}
@media screen and (max-width: 600px) {
    .rentals-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    
}
.rentals-card{
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 1rem;
    width: 100%;
    max-width: 300px;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}
.rentals-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.rentals-card img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
    }
    .rentals-card h3 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
      }

    .rentals-card p {
        font-size: 1rem;
        color: #666;
        margin-bottom: 1rem;
    }  
    
    .info{
        background-color: orange;
        color: #010000;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
.info:hover{
    background-color: #000000;
    color: #fefefe;
}

.footer{
    background-color: #222;
    color:white;
    padding: 10px;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;

}